In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import warnings
warnings.simplefilter('ignore')

In [4]:
%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt
%config inlineBackend.figure_format = 'svg'

In [5]:
from pylab import rcParams
rcParams['figure.figsize'] = 8, 5
import pandas as pd

In [3]:
df = pd.read_csv('C://users/iagal/AI_1/data/titanic_train.csv')
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows',100)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [16]:
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly
import plotly.graph_objs as go 

init_notebook_mode(connected=True)

ModuleNotFoundError: No module named 'plotly'